 <!--All booking-->
<div class="col-lg-12">
  
  <%=render 'shared/flash_message' %>

  <div class="card mt-5 mb-3">
    <div class="card-body">
      <h2 class="text-center">Todays Booking List</h2>
    </div>
  </div>
  
  <div class="table-responsive">
    <table class="table table-bordered mt-3 text-center">
      <thead class="bg-primary text-white">
        <th>Hotel name </th>
        <th>Guest Name</th>
        <th>Email</th>
        <th>No of Guest</th>
        <th>Room Type</th>
        <th>check_in_date </th>
        <th>check_out_date</th>
        <th>Booking Status</th>
        <th>Room</th>
        <th>Action</th>
      </thead>
      <tbody>
        <% @todays_bookings.each do |booking| %>
          <%= render  "booking_table", booking: booking %> 
        <% end %>
      </tbody>
    </table>
  </div>
</div>

 <!--All booking-->

<div class="col-lg-12">
  <div class="card mt-5 mb-3">
    <div class="card-body">
      <h2 class="text-center">All Booking List</h2>
    </div>
  </div>

  <div class="table-responsive">  
    <table class="table table-bordered mt-3 text-center">
      <thead class="bg-primary text-white">
        <th>Hotel name </th>
        <th>Guest Name</th>
        <th>Email</th>
        <th>No of Guest</th>
        <th>Room Type</th>
        <th>check_in_date </th>
        <th>check_out_date</th>
        <th>Booking Status</th>
        <th>Room id</th>
        <th>Action</th>
      </thead>
      <tbody>
        <% @all_bookings.each do |booking| %>
          <%= render  "booking_table", booking: booking %> 
        <% end %>
      </tbody>
    </table>
  </div>
</div>