<footer class="bg-secondary text-center mt-1 ">  
  <div class="text-light text-center p-3 bg-secondary" >
    © 2020 Copyright:
    <a class="text-decoration-none text-warning" href="http://localhost:3000">Bookrooms.com</a>
  </div>
</footer>
