<% if user_logged_in? %>
  <div class="container">
    <div class="row">
      <div class="card shadow p-4">
        <h2 class="text-center">Administrator, <span class="text-danger">  <%= current_user.name %></span> welcome back! Your expertise keeps everything running smoothly.</h2>
      </div>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="row">
      <h2 class="text-center">
        Please login first !!! Before trying to access admin dashboard :  
        <%= link_to  "Login as Admin", admin_login_path, class: 'btn btn-md btn-danger' %>
      </h2>
    </div>
  </div>  
<% end %>
  