<% if user_logged_in? %>
  <div class="container">
    <%if flash[:notice].present?%>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <div class="row">
      <div class="card shadow p-4 rounded">
          <h2 class="text-center">Welcome back, <span class="text-success"> <%= current_user.name %></span> We're thrilled to have you here again.</h2>
      </div>

    </div>
  </div>
<% else %>
  <div class="container">
    <div class="row">
      <h2 class="text-center">
        Please login first !!! Before trying to access Customer dashboard :  
        <%= link_to  "Login", login_path, class: 'btn btn-md btn-success' %>
      </h2>
    </div>
  </div>  
<% end %>