<div class="container">
  <div class="row"> 
    <h1 class="text-center card-title">Welcome to BookRooms</h1>
  
    <p class="text-center card-text">Please Sign up or Login for using Website</p>
    
    <div class="container d-flex justify-content-center  ">
      <div class="card p-3 m-4">
        <div class="card-body">
          <h3 class="card-title text-center mb-4">Admin / Customer</h3>
          <div class="row">
            <div class="col-lg-6 text-center">
              <%= link_to 'Customer Login', login_path, class: 'btn btn-lg btn-success' %>
            </div>
            <div class="col-lg-6 text-center">
              <%= link_to 'Customer SignUp', signup_path, class: 'btn btn-lg btn-primary' %>
            </div>
            <div class="col-lg-12 mt-3 text-center">
              <%= link_to 'Admin Login', admin_login_path, class: 'btn btn-lg btn-danger' %>
            </div>
          </div>
        </div>
      </div>        
    </div>
  </div>
</div>