<div class="col-lg-12">
  <div class="card mt-5 mb-3">
    <div class="card-body">
      <h2 class="text-center">Edit hotel Information</h2>
    </div>
  </div>

  <%= render 'form', hotel: @hotel %>

</div>
