<div class="col-lg-12">
  <div class="card">
    <div class="card-body">
      <h2 class="text-center">Edit hotel Information</h2>
  
      <%= render 'form', hotel: @hotel %>
    
    </div>
  </div>
</div>
