<div class="container">
  <div class="row">
    <div class="col-lg-12">
      
      <%= render "search_and_filter" %>
      
      <div class="row pt-4">
        <div class="h2 text-center">Filtration Result List</div>
      </div>

      <div class="row">
        <% @hotels.each do |hotel| %>
          <% if @checkin_date.present? && @checkout_date.present? %>
            <% available_room_count(hotel, @no_of_guests, @no_of_rooms,@checkin_date, @checkout_date) %>
          <% else %>
            <% available_room_count(hotel, @no_of_guests, @no_of_rooms) %>
          <% end %>

          <%= render  "hotel_card", hotel: hotel %>
        <% end %>
      </div>

    </div>
  </div>
</div>
