<div class="container">
  <div class="row">
    <div class="col-lg-12">
      
      <%= render "search_and_filter" %>
      
      <div class="row pt-4">
        <div class="h2 text-center">Filtration Result List</div>
      </div>

      <div class="row">
        <% @hotels.each do |hotel| %>
            <% available_room_count_of_hotel(hotel, @checkin_date, @checkout_date) %>

          <%= render  "hotel_card", hotel: hotel %>
        <% end %>
      </div>

    </div>
  </div>
</div>
