<div class="container ">
  <div class="row">
    <div class="col-lg-12">

      <% if @hotels.empty? %>
        <div class="alert alert-danger text-center">
          Notice : No results found!!! Please enter a valid keyword for the search.
        </div>
      <% end %>

      <%= render "search_and_filter" %>

      <div class="row mt-4">
        <div class="h2 text-center">Search Result List</div>
      </div>

      <div class="row mt-3">
        <% @hotels.each do |hotel| %>

          <% if current_user.role == 'customer'%>  
            <% if @checkin_date.present? && @checkout_date.present? %>
              <% available_room_count(hotel, 0, 0,@checkin_date, @checkout_date) %>
            <% else %>
              <% available_room_count(hotel, 0, 0) %>
            <% end %>
          <% end %>
          
          <%= render  "hotel_card", hotel: hotel %>
        <% end %>
      </div>

    </div>
  </div>
</div>
