<div class="container px-5">
  <div class="row px-5">
    <div class="col-lg-12 px-5">
      <%= flash[:notice] %>
    
      <div class="row">
        <div class="h2 text-center">Searched List</div>
      </div>

        <%= render  "search_and_filter" %>

      <%= link_to "Back to Hotel", hotels_path, class: "btn btn-primary mt-1"%>
            
      <% if @hotels.empty? %>
        <div class="text-center">No result Foound</div>
      <% else %>      
        <%= render  "hotels_list" %>
      <% end %>
      
    </div >
  </div>
</div>
